/*
* @Author: Marte
* @Date:   2017-08-04 10:21:49
* @Last Modified by:   Marte
* @Last Modified time: 2017-08-04 14:14:18
*/
* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei", "Arial", "sans-serif";
    background: #313131;
}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote, p {
    padding: 0;
    margin: 0;
}

ol, ul {
    list-style: none;
}

a,
        a:hover,
        a:active,
        a:visited {
    text-decoration: none;
    -webkit-tab-highlight-color: rgba(0, 0, 0, 0);
}

li {
    list-style-type: none;
}

img {
    vertical-align: top;
    border: 0;
}

html,body {
    min-width: 1200px;
    min-height: 100%;
}

.content {
    width: 100%;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
.nav li a{
    color:#fff;
    font-weight:bold;
}
.nav li{
    float:left;
    margin: 10px 15px;
    padding:0 0 3px;
}
.nav li.cur{
    border-bottom:3px solid #fff;
}